/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-sizing";
@import "lib/bootstrap/stylesheets/bootstrap";

//Ex classes
.extraPadTop {
	padding-top:15px;
}

.extraPadBottom {
	padding-bottom:15px;
}
.fright{
	float:right;
}
.relative{
	position:relative;
}



// Custom Styles, Jesus Ortega Challenge

.mainArea {

	margin-left: 12px;
	margin-top:20px;

	@include box-sizing(border-box);
	
}

.mainSectionArea {

	border: 1px solid $cm-border-color;
	background: #f8f8f8;
	@include box-sizing(border-box);
}
.secondarySectionArea {

	display:block;
	background: #fff;
	margin-top:30px;
	
}

.secondaryArea {
	padding:25px;
}

.selectAll{
	display:inline-block;
	margin-right:10px;
}


.innerContent{
		padding:0 0px 0px 7px;
	}

.innerContentFC{
	padding:0 0px 0px 25px !important;
}
// remove padding on columns

.no-padding {
  
    padding-left: 0 !important;
    padding-right: 0 !important;
 
}

// Delete Datepicker row
.deleteDatepickerRow{
	position:absolute;
	top:-2px;
	right:-35px;
	cursor:pointer;

	i{
		padding:5px;
		color: red !important;
		font-size: 25px;
		&:hover{
			color: #000;
		}
	}
}

// Sidebar
#sidebar {

	height: 100%;
	padding-right: 0;


}
.bg-add{
		background:#f8f8f8;
	border-right:1px solid $cm-border-color;
	height:100%;
}

#sidebar .nav {
	width: 100%;
}

#sidebar li {

	border:0 $cm-border-color solid;
	border-bottom-width:1px;

	a{
		padding:10px;
		color: $gray-base;
	}
}


//form
.form-title {

	font-size:$font-size-base;
	width:100%;
	padding:0px 20px 0px 20px;

}


// Checklist columns
.checklistColumns {
	width:16.6%;
	float:left;
}
.rowChecklistPad{
	padding-right:15px;
}

// Datatable margin box

.innerContentDataTable{
	padding:0px 15px;
}
// New window icon table cell
.iconDataTableCell{
	margin-top:7px;
	cursor:pointer;
}
// Username table width
.select-checkbox {
 	min-width:250px;   
}
// Adjust 
.dataTables_length{
	margin-top:10px;
}


/* JO Custo Responsive */
@media screen and (max-width: 1024px) {
	.innerContentFC{
		padding:5px 15px !important;
	}
	.innerContent{
		padding:5px 15px !important;
	}


	.logo{
		width:50%;
		float: left;
	}

	.innerContentDataTable{
		padding:0px 0px;
	}
	.select-checkbox {
	 	min-width:250px;   
	}
	#datepicker{
		width: 70%; float:left;
	}
	.deleteDatepickerRow {
		position: relative;
		float: right;
		margin-right: 40px;
		margin-top: -7px;
		margin-bottom: 7px;
	}

	.mainArea {

		margin-left: 0px;
		margin-top:20px;
		padding:0px;
		
	}
	.mainSectionArea {

		border: none;

	}

	.navbar-toggle{
		margin-right:10px;
	}

	// Fix Scroll on datatable mobile
	table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
	    padding-right: 30px;
	    box-sizing: border-box;
	}

}


/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
	.row-offcanvas {
	position: relative;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	}
	.row-offcanvas-right
	.sidebar-offcanvas {
	right: -41.6%;
	}
	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -41.6%;
	}
	.row-offcanvas-right.active {
	right: 41.6%;
	}
	.row-offcanvas-left.active {
	left: 41.6%;
	}
	.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 41.6%;
	}
	#sidebar {
	padding-top:0;
	}

	// Checklist columns
	.checklistColumns {
		width:100%;
		float:none;
	}
	th, td, tr, table div, .select-checkbox{
		display: block;
		width: 100%;
		@include box-sizing(border-box);
	}
	table{
		font-size: 80%;
	}
	
	
}
// Datatable

	table.dataTable tbody tr.active {
		background:#ebf8fe !important;
	}

	table.dataTable caption, th, td {text-align:center;
		&.select-checkbox{
			text-align: left;
		}
	}

	//delete tag and row table button
	.btn-delete-tablerow {
		background: transparent;
		border: none;
		color: red;
	}

	.tagsButtons{
			float: left;
	}

	.btn-delete-tablerow{
		float: right;
		display: none;
	}

	.newTagCreated {
		margin-right:7px;
	}

	

// Datepicker styles

.datepicker-days .table-condensed {
	.dow, .day {
		padding: 3px 7px;
		cursor: pointer;
		margin:1px;
		&:hover{
			background:#d6d6d6;
		}
	}
}



//Reset Datatable checkbox add plugin

.select-checkbox:before {
    display: none !important;
}

// Force plugins styles outside SASS

// fix TD BG color datatable cell, reset to transparent
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: transparent;
}
#dataTableCustom_filter {display:none;}

.dataTables_wrapper .dataTables_length{
	float:right !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	display:none !important;
}
